.weather{
    background-color: #ffffff99;
    padding: 2em;
    border-radius: 0.8em;
    width: 100%;
    max-width: 400px;
}
.weatherTitle{
    text-align: center;
    font-size: 2rem;
}
.weatherSubtitle{
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}
.weatherBody{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5em;
    margin-bottom: 1.5em;
}
.weatherInfo{
    margin-top: 1em;
}
.weatherInfoTitle{
    text-align: center;
    margin-bottom: 0.8em;
    font-size: 1.1rem;
}
.weatherList{
    display: grid;
    gap: 0.7em;
}
.weatherListItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
}
.weatherListLabel{
    opacity: 0.4;
}
.weatherListValue{
    font-weight: 650;
}
.weatherTemp{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.weatherBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition:background-color 0.5s , transform 0.5s ;
    font-size: 0.9rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    

}
.weatherBtn:hover{
    background-color: transparent;
    transform: scale(1.05);
}
.formWether{
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    gap: 1em;
}

.formWether input{
    border-radius: 0.3em;
    border-style: hidden;
    margin: 0.5em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    opacity: 0.5;
}
.formWether button{
    border-radius: 0.5em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition:background-color 0.5s , transform 0.5s ;
}
.formWether button:hover{
    background-color: transparent;
    transform: scale(1.05);
}


